<style>
	.myclass {
		padding: 10px;
		border: {{styles.border}};
	}
	.foo {
		padding: 0px;
		font-size: 10px;
		margin: 0px;
		width: 20px;
		height: 15px;
		line-height: 15px;
		float: left;
		overflow: hidden;
	}

	my-element {
		border: 1px solid black;
		padding: 10px;
		background: red;
		display: block;
	}

	content {
		border: 1px solid orange;
		background: yellow;
		padding: 5px;
	}

	.withbg {
		background: pink;
	}
</style>

<h1>Custom element</h1>

<my-element class="myclass" border="styles.border" borderliteral="styles.border" border2way="styles.border" borderparsed="{{styles.border}}" borderparsedliteral="{{styles.border}}" borderparsed2way="{{styles.border}}">this is <b>my-element</b> tag which uses class <b>myclass</b> with border: <b class="withbg">{{styles.border}}</b></my-element>

<br><br>
<p>Try change the value:</p>
<input type="text" model="styles.border" />

<p>Intentional console error for directive attribute <b>borderparsed2way="\{\{styles.border\}\}"</b></p>