<style>
	div {
		padding: 10px;
		border: 1px solid black;
	}

	#div1 {
		background: yellow;
	}

	#div2 {
		background: gold;
	}

	#div3 {
		background: orange;
	}

	li span {
		color: green;
	}

	my-component1,
	my-component2 {
		border: 1px solid black;
		padding: 10px;
		display: block;
		background: red;
		margin-top: 10px;
	}

	my-component2 {
		background: green;
	}
</style>

<h1>Get Parent Views</h1>
<p>
	getParentViews() method run on methods onInit and onRender
</p>

<br /><br />

Local template for my-component3
<my-component3>my-component3</my-component3>