<style>
	.myclass {
		padding: 10px;
		border: {{styles.border}};
	}
	.foo {
		padding: 0px;
		font-size: 10px;
		margin: 0px;
		width: 20px;
		height: 15px;
		line-height: 15px;
		float: left;
		overflow: hidden;
	}

	my-element {
		border: 1px solid black;
		padding: 10px;
		background: red;
	}

	content {
		border: 1px solid orange;
		background: yellow;
		padding: 5px;
	}
</style>

<h1 style="display: inline">Template test</h1> change cocoroni: <input type="text" style="background: {{styles.color}}" value="{{cocoroni}}" class="myclass" on-click="clicked(33, $event)" model="cocoroni" /> --- change and press <b>enter</b>

<br clear="all">
ownView.model.getData('cocoroni'): <b>{{ownView.model.getData('cocoroni')}}</b> <br>
cocoroni value: <b>{{cocoroni}}</b><br>
{{ 'simple string var' }} - <u>{{ '**' + meca + '**' }}</u> - <my-element on-click="clicked(99, $event)">this is <b>my-element</b> tag</my-element><br>

<br clear="all">

<div repeat="{{repeater}}" on-click="clicked({{$index}}, $event);" on-mousedown="mousedown({{$value}}, $event)">
	$index: {{$index}}. $key: {{$key}}. hahaha {{'dentro de div'}} nao é? {{cocoroni}} - {{$value}}
	<hr>

	<div repeat="[99,88,77]" on-click="clicked({{$index}}, $event);" on-mousedown="mousedown({{$value}}, $event)">
		$index: {{$index}}. $key: {{$key}}. hahaha {{'dentro de repeater'}} nao é? {{cocoroni}} - {{$value}}
	</div>
</div>
<!-- 
div repeat="repeater" class="foo" style="background: {{styles.color}};">
	{{$index}}
</div> -->