<h1>Template test #1</h1>
<div style="float: left; margin-right: 10px; border: 1px solid grey; width: 40%; min-height: 200px;">
    <ul>
        <li>desenvolvendo templating system</li>
        <li>este da parse usando <b>Expressões regulares</b></li>
    </ul>

    <just-a-tag>JUST-A-TAG #1</just-a-tag>
    some text here
    <just-a-tag id="foolish">JUST-A-TAG #2</just-a-tag>
</div>

<div style="float: left; margin-right: 10px; border: 1px solid grey; width: 40%; min-height: 200px;">
    <h2>REPEAT AREAS</h2>
    <div repeat="[6,3]">
        Repeating: {{$index}} - {{$value}}
        <br>
        another repeater:
        <div repeat="[22,44]" repeattt="lorem" meca="merda">inside another repeater {{$index}} - {{$index}} - {{$value}}</div>
    </div>

    <button repeat = "['a', 'b', 'c', 'd', 'e']">A button {{$index}} - {{$value}}
        <div repeat="">
            cocoroni
        </div>
        <div meca="dentro de rapeet"></div>
    </button>

    <button repeat="">outside repeat</button>
    xx
    
</div>